# ./wp-*.php
# !wp-config.php
# xmlrpc.php
# wp-admin/
# wp-includes/
# wp-content/uploads/
# wp-content/blogs.dir/
# wp-content/upgrade/*
# wp-content/backup-db/*
# wp-content/advanced-cache.php
# wp-content/wp-cache-config.php
# wp-content/cache/*
# wp-content/cache/supercache/*
# sitemap.xml
# sitemap.xml.gz
# readme.html
# license.txt

# http://www.stumiller.me/what-should-be-excluded-in-a-wordpress-gitignore-file/
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz
